<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>404 Error</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <script src="/framework/bootstrap/js/bootstrap.min.js"></script>
    <link href="/framework/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main id="main-app">
        <section class="login-app d-block justify-content-center" id="login-app-box">
                    <div class="d-flex flex-column align-items-center login-logo-box justify-content-center mb-4"
                        id="">
                        <i class="fas fa-exclamation-triangle color-pink m-3" style="font-size:4rem"></i>
                        <h3>404</h3>
                        <p class=" color-pink p-1">Sajnos a keresett oldal nem található!</p>
                        <a type="button" href="/" class="btn btn-light rounded-pill mb-3 w-50" id="back-to-home-button">Kezdőlap</a>
                    </div>
            </section>
    </main>

    <section id="circles">
        <div class="circle1 circle"></div>
        <div class="circle2 circle"></div>
        <div class="circle3 circle"></div>
        <div class="circle4 circle"></div>
        <div class="circle5 circle"></div>
        <div class="circle6 circle"></div>
    </section>

    
</body>
</html>