<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <script src="/framework/bootstrap/js/bootstrap.min.js"></script>
    <link href="/framework/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main id="main-app">
        <div class="container mt-4 text-white">
            <div class="jumbotron">
                <h1 class="display-4 text-white">BirdyLex</h1>
                <h2 class="lead text-dark">Homepage</h2>
                <hr class="my-4 text-white">
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi provident non eaque. Ab velit quisquam sint accusamus quasi perspiciatis? Ex placeat, aliquid laboriosam necessitatibus possimus quia ullam similique officiis a.</p>
            </div>
        </div>
    </main>

    <section id="circles">
        <div class="circle1 circle"></div>
        <div class="circle2 circle"></div>
        <div class="circle3 circle"></div>
        <div class="circle4 circle"></div>
        <div class="circle5 circle"></div>
        <div class="circle6 circle"></div>
    </section>

</body>

</html>